---
import Layout from "../layouts/Layout.astro";

import Logo from "../components/Logo.astro";

import Info from "../components/Info.astro";
import FestivalSpirit from "../components/FestivalSpirit.svelte";

const seoData = {
    title: "Generazione Zero Workfest",
    description:
        "Un festival per ripensare il rapporto con il lavoro attraverso creatività, socializzazione e confronto. Dungeons & Dragons, yoga, laboratori creativi, dibattiti su legalità e integrazione, musica dal vivo e tanto altro.",
    keywords:
        "generazione zero, workfest, festival lavoro, creatività, dungeons dragons, yoga, laboratori creativi, antimafia, integrazione, cittadinanza, musica dal vivo, beer pong, dibattiti sociali",
    image: "/W.svg",
};
---

<Layout
    title={seoData.title}
    description={seoData.description}
    keywords={seoData.keywords}
    image={seoData.image}
>
    <div class="relative">
        <FestivalSpirit client:load />
        <Info />
    </div>
</Layout>
