---
import W from "./W.astro";
---

<div
<<<<<<< HEAD
    class="flex justify-center items-center w-[100dvw] h-[100dvh] bg-[#81FBF5]"
=======
    class="flex justify-center items-center w-screen h-screen bg-[#81FBF5] p-2"
>>>>>>> new
>
    <W height="100%" />
</div>
